.algorithmsCard {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1.5fr 2.2fr;
    margin: 0 5em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
    cursor: pointer;
    margin-bottom: 2em;
}

.algorithmsCard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.algorithmsCard img {
    grid-column: 1/2;
    width: 80%;
    max-width: 80%;
    height: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.cardText {
    text-align: left;
    grid-column: 2/3;
}

.cardText p {
    padding: 0;
}

 @media only screen and (max-width: 1166px) {
    .algorithmsCard {
        grid-template-columns: 2fr 2fr;
    }
} 

@media only screen and (min-width: 1070px) {
    .algorithmsCard:hover {
        margin: 2em 3em;
    }
}

@media only screen and (max-width: 1070px) {
    .algorithmsCard {
        grid-template-rows: 1.5fr 1fr;
        margin: 2em 14em;
    }


    .algorithmsCard img {
        max-width: 100%;
        width: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
        border-radius: 1em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .cardText {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
    }
}

@media only screen and (max-width: 885px) {
    .algorithmsCard {
        grid-template-rows: 1fr .5fr;
        margin: 2em 13em;
    }

    .cardText p {
        padding-bottom: .8em;
    }
}

@media only screen and (max-width: 854px) {
    .algorithmsCard {
        grid-template-rows: 1fr .5fr;
    }

    .cardText {
        padding-bottom: 1em;
    }
}

@media only screen and (max-width: 685px) {
    .algorithmsCard {
        margin: 2em 4em;
    }
}

@media only screen and (max-width: 440px) {
    body {
        font-size: .9em;
    }
}
